{% extends "online_course/base.html" %}

<!-- title -->
{% block title %} Registration {% endblock %}
<!-- courses -->
{% block registration %}
<!-- Stylize Registration form -->
<form action="{% url 'online_course:registration' %}" method="post">
  <div class="container">
    {% csrf_token %}
    <h1>Sign Up</h1>
    <hr />
    <div class="form-group">
      <label for="username"><b>User Name</b></label>
      <input
        id="username"
        type="text"
        class="form-control"
        placeholder="Enter User Name: "
        name="username"
        minlength="3"
        maxlength="20"
        required
      />
      <label for="first_name"><b>First Name</b></label>
      <input
        id="first_name"
        type="text"
        class="form-control"
        placeholder="Enter First Name: "
        name="first_name"
        minlength="3"
        maxlength="20"
        required
      />
      <label for="last_name"><b>Last Name</b></label>
      <input
        id="last_name"
        type="text"
        class="form-control"
        placeholder="Enter Last Name: "
        name="last_name"
        minlength="3"
        maxlength="20"
        required
      />
      <label for="password"><b>Password</b></label>
      <input
        id="password"
        type="password"
        class="form-control"
        placeholder="Enter Password: "
        name="password"
        minlength="8"
        maxlength="20"
        required
      />
      {% if messages %}
      <div class="alert alert-danger">{% for message in messages %} {{ message }} {% endfor %}</div>
      {% endif %}
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
  </div>
</form>
{% endblock %}
