.landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;
  height: 100vh;
  background-image: url('src/assets/greenhouse-03.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.welcome {
  flex-grow: 2;
}

.welcome > h1 {
  margin: 0;
}

.welcome > hr {
  width: 10%;
  height: 3px;
  background-color: var(--primary-color);
  border: none;
}

.description {
  flex-grow: 3;
  flex: 0 0 63%;
  margin: 0 40px;
}

.description > p {
  text-align: left;
}
