.cart-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 3px;
  margin: 3px auto;
}

.card-image {
  display: flex;
  align-items: center;
}

.card-content {
  font-weight: bold;
  margin-left: 10px;
  justify-items: left;
  text-align: left;
}

.content {
  margin: 0.5rem 0;
}
