:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: large;

  color-scheme: light;
  color: white;

  --primary-color: #04aa6d;
  --primary-red-color: rgb(238, 86, 86);
  --primary-background-color: lightgray;

  word-break: break-all;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-background-color);
}
